


/* Banner */
.career-banner-svv{
  background: url("../../../assets/carrerbanner.jpg") no-repeat center center;
  background-size: cover;
  height: 400px;
  text-align: center;
  position: relative;
  margin-top: 60px;
  color: #fff;
  padding-top: 120px;
}
.career-banner h1 {
  font-size: 42px;
  font-weight: 600;
}
.career-banner p {
  font-size: 18px;
  margin-top: 10px;
}
.apply-btn {
  margin-top: 25px;
  background: transparent;
  color: #fff;
  padding: 12px 20px;
  border:1px solid #fff;
  border-radius: 20px;
}
.view-ope{
  margin-top: 25px;
  background: green;
  color: #fff;
  padding: 12px 20px;
  border: none;
  position: relative;
  left: -10px;
  border-radius: 6px;
}

/* LIFE @ SVV */
.life-section {
  text-align: center;
  padding: 60px 50px;
}
.life-section h2 {
  font-size: 28px;
  font-weight: 600;
}
.life-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
}
.life-images img {
  width: 350px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

/* Job Listing */
.job-section {
  padding: 60px 80px;
}
.search-row {
  display: flex;
  gap: 15px;
  margin: 25px 0;
}
.search-row input {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.search-btn {
  background: #032ea1;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 6px;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 30px;
}
.job-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #edf4ff;
  padding: 18px 25px;
  border-radius: 8px;
}
.job-title {
  font-size: 18px;
  font-weight: 600;
}
.job-type {
  font-size: 14px;
  opacity: 0.75;
}
.view-btn {
  background: #032ea1;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
}
