.addonjobsvv-container {
  max-width: 500px;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 25px 20px;
  position: relative;
  top: 60px;
  font-family: "Poppins", sans-serif;
}

.addonjobsvv-title {
  text-align: left;
  color: #b80000;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.addonjobsvv-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;
}


.jobback-btn {
  padding: 5px 12px;
  background-color: #164B7B;
  color: #fff;
  position: relative;
  margin-right: auto;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
}


.jobback-btn:hover {
  background-color: #0f3a5f;
}


.addonjobsvv-field label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.addonjobsvv-field input,
.addonjobsvv-field select,
.addonjobsvv-field textarea {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  background-color: #fff;
}

.addonjobsvv-field textarea {
  resize: none;
  height: 70px;
}

.addonjobsvv-skillbox {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  background-color: #fff;
}

.addonjobsvv-skilltag {
  border: 1px solid #d3d3d3;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
  color: #555;
  transition: all 0.2s ease;
}

.addonjobsvv-skilltag.selected {
  background-color: #e0f7f0;
  border-color: #00a86b;
  color: #00a86b;
  font-weight: 600;
}

.addonjobsvv-expbox label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.addonjobsvv-exp {
  display: flex;
  gap: 10px;
}

.addonjobsvv-exp select {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1.5px solid #ccc;
  font-size: 14px;
}

.addonjobsvv-btnbox {
  text-align: center;
  margin-top: 10px;
}

.addonjobsvv-nextbtn {
  background-color: #009c34;
  color: white;
  padding: 10px 28px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  transition: 0.2s ease;
}

.addonjobsvv-nextbtn:hover {
  background-color: #007c2a;
}

@media (max-width: 500px) {
  .addonjobsvv-container {
    max-width: 95%;
    padding: 20px;
  }

  .addonjobsvv-title {
    font-size: 18px;
    text-align: center;
  }

  .addonjobsvv-exp {
    flex-direction: column;
  }
}
