.dashboard-home {
  margin-left: 20px; 
  margin-top: 2px; 
  padding: 10px 15px;
  background: white;
  min-height: calc(100vh - 65px);
  font-family: "Poppins", sans-serif;
}


.dashboard-section {
  margin-bottom: 35px; 
}

.dashboard-section h2 {
  color: #111;
  margin-bottom: 18px; 
  font-size: 18px;
  font-weight: 600;
}
h4 {
    font-size: 20px !important;
    margin-bottom: 0px !important;
  }


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 12px; 
}


.dashboard-card {
  background:  #07167B;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  color: #fff;
  height: 170px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.dashboard-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}


.dashboard-card .icon {
  font-size: 30px; 
  margin-bottom: 0px;
}

.dashboard-card h3 {
  font-size: 14px; 
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-bottom: 6px;
}


.status-card {
  display: flex;
  justify-content: center;
  position: relative;
  top: -12px;
  gap: 1cm;
}

.status-card div {
  width: 50px; 
  border-radius: 6px;
  padding: 5px 0;
  text-align: center;
  /* background-color: #f2a71b; */
}

.status-card .approved {
  /* background-color: #009c3b; */
  height: 35px;
}

.status-card .pending {
  background-color: #f2a71b;
  height: 35px;
}
.icon{
      color: #fff !important;
    margin-right: 4px;
}

  #text{
    /* color: #f6ff00; */
    position: relative;
    top: 5px;
    font-size: 12px;
  }
.status p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.status span {
  font-size: 11px;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
  .dashboard-home {
    margin-left: 0;
    margin-top: 60px;
    padding: 15px;
  }

  .dashboard-section h2 {
    font-size: 17px;
  }

  .dashboard-card {
    height: 160px;
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .dashboard-card {
    width: 100%;
    height: auto;
  }
}
