.hrdh-dashboard-main {
  background:#F7F5F5;
  padding: 35px;
  min-height: 100vh;
}

.hrdh-card-row {
  display: flex;
  justify-content: center;
  gap:40px;
}

.hrdh-big-card {
  width: 300px;
  background:#07167B;
  padding: 25px;
  border-radius: 12px;
  color: white;
  text-align: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.hrdh-big-card:hover {
  /* border:1px solid #06222c; */
  box-shadow: 0 0 15px rgba(11, 43, 54, 0.5);
}

    
.hrdh-big-icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
}

.hrdh-card-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.hrdh-status-boxes {
  display: flex;
  justify-content: center;
  gap: 10px;
}


.hrdh-status-item {
  width: auto;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.hrdh-status-item h4 {
  margin: 0;
  font-size: 18px;
}

.hrdh-status-item p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

/* Color variants – tied to the second class on the element */
/* .hrdh-status-item.hrdh-green { */
  /* background: #0C7C0C; */
/* } */

.hrdh-status-item.hrdh-red {
  background: #DA0606;
}

.hrdh-status-item.hrdh-yellow {
  background: #E2A60A;
}

.count-num{
  width: 50px;
  font-size: 20px;
  
}