.dashboard-main {
  background: #F7F5F5;
  padding: 35px;
  min-height: 100vh;
  margin-top: 70px;
}

.dashboard-card-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);   
  gap: 40px;
  justify-items: center;
}


.dashboard-big-card {
  width: 300px;
  background: #07167B;
  padding: 25px;
  border-radius: 12px;
  color: white;
  text-align: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.dashboard-big-card:hover {
  /* border:1px solid #06222c; */
  box-shadow: 0 0 15px rgba(11, 43, 54, 0.5);
}

.dashboard-big-icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
}

.dashboard-card-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.dashboard-status-boxes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dashboard-status-item {
  width: auto;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.dashboard-status-item h4 {
  margin: 0;
  font-size: 18px;
}

.dashboard-status-item p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

/* Color variants */
/* .dashboard-status-item.dashboard-green {
  background: #0C7C0C;
} */

.dashboard-status-item.dashboard-red {
  background: #DA0606;
}

.dashboard-status-item.dashboard-yellow {
  background: #E2A60A;
}

.dashboard-count-num {
  width: 50px;
  font-size: 20px;
  font-weight: 500;
}
