.pi-container {
  width: 80%;
  max-width: 1100px;
  margin: auto;
  background: #f1f7ff;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 70px;
}
.pi-radio-group {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 5px;
}

.pi-radio-option {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-weight: 600;
  color: #000;
}
.pi-section-title {
  background: #f1f7ff;
  color: #000;
  padding: 8px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
}

.pi-label {
  font-size: 13px;
  font-weight: 700;
  color: #000;
  display: block;
}

.pi-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-top: 4px;
}

.pi-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 15px;
}


.nomineeheading{
    font-size: large;
    font-weight: 600;
    color: #202020;
    margin-bottom: 10px;
}
.nomineepara{
    font-size: medium;
     color: #000;
     font-weight: 500;

}
.pi-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 15px;
}

.pi-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .pi-grid-2,
  .pi-grid-3 {
    grid-template-columns: 1fr;
  }
}
