.onboarding-wrapper {
  width: 100%;
  padding: 20px 30px;
  background: #f4f4f4;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  margin-top: 0.8cm;
}

.onboarding-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #b91c1c;
  margin-bottom: 25px;
}

.onboarding-filter-row {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.onboarding-reject-btn{
    background: white;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
 

}

.onboarding-email-btn{
    background: white;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
 
}

.onboarding-forward-btn{
    background: white;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
 
}

.onboarding-download-btn{
    background: white;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
 
}

.icon-onboarding{
    margin-bottom: 2px;
    margin-left: 10px;
}

.onboarding-delete-btn{
    background: red;
    color: white;
  border-radius: 10px;
  border: none;
  
  
}

.onboarding-shortlist-btn{
    background: white;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
 
}

.onboarding-filter-input {
  width: 250px;
  height: 42px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  padding: 0 12px;
  font-size: 14px;
  background: #ffffff;
  box-shadow: inset 0px 1px 4px rgba(0,0,0,0.08);
  display: flex;
  direction: row;
  justify-content: end;
}

.onboarding-del-down{
 display: flex;
  gap: 30px;
}

.onboarding-forward{
    display: flex;
  gap: 30px;
}


.jas-tag.green {
    background: #e6fbe7;
    color: #16a34a;
}

.onboarding-apply-btn {
  background: #0023ff;
  color: white;
  border: none;
  width: 120px;
  height: 42px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.onboarding-apply-btn {
  background: #5426dc ;
  color: white;
  border: none;
  width: 120px;
  height: 42px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.onboarding-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
}

.onboarding-table thead {
  background: #002147;
  color: white;
}

.onboarding-table th {
  padding: 14px;
  font-size: 15px;
  font-weight: 600;
}

.onboarding-table td {
  padding: 14px;
  text-align: center;
  font-size: 14px;
  /* color: #333; */
  border-bottom: 1px solid #ececec;
}

.onboarding-tag {
  padding: 5px 12px;
  font-weight: 700;
  border-radius: 6px;
  display: inline-block;
}

.previousjob-green { background: #e6fbe7; color: #16a34a; }
.previousjob-orange { background: #fff1e5; color: #f97316; }
.previousjob-red { background: #ffe5e5; color: #dc2626; }

.onboarding-view-btn {
  background: #0048ff;
  padding: 6px 12px;
  color: white;
  border-radius: 6px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

.onboarding-list-view{
    display: flex;
    margin: 10px;
    justify-content: space-around;
}





