  .pi-container {
  width: 55%;
  max-width: 1100px;
  margin: auto;
  background: #f1f7ff;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.next-buttononbord{
  background-color: #032ea1;
  border-radius: 15px;
  color: white;
  border: none;
  width: 70px;
  height: 40px;
  padding: 0px 10px;
  text-align: center;
}


.next-button{
  background-color: blue;
  border-radius: 15px;
  color: white;
  border: none;
  width: 70px;
  height: 40px;
  padding: 0px 10px;
  text-align: center;
}

.bc-button{
  background-color: #595656;
  border-radius: 15px;
  color: white;
  border: none;
  width: 70px;
  height: 40px;
  padding: 0px 10px;
  text-align: center;
}

.bc-ic{
  margin-bottom: 4px;
  font-size: 15px;
}


.personal-title {
  background: #f1f7ff;
  color: #000;
  padding: 8px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 600;
}

.pi-radio-group {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 5px;
}

.pi-radio-option {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-weight: 600;
  color: #000;
}
.pi-section-title {
  background: #f1f7ff;
  color: #000;
  padding: 8px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
}

.pi-label {
  font-size: 13px;
  font-weight: 700;
  color: #000;
  display: block;
}

.pi-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-top: 4px;
}

.pi-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 15px;
}

.pi-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .pi-grid-2,
  .pi-grid-3 {
    grid-template-columns: 1fr;
  }
}
