.quickcontact-section {
  background-color: #002b7f;
  padding: 60px 0;
  font-family: "Poppins", sans-serif;
}


.contact-box {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.contact-img-container {
  padding: 0;
  margin: 0;
}

.contact-img {
  width: 125%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  display: block;
  margin-left: -12px;
}


.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 3px solid #f2f2f2;
  padding: 2rem;
}

.form-label {
  font-weight: 600;
  color: #333;
  font-size: 14px;
  margin-bottom: 0.4rem;
}

.form-control {
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 10px;
}

.phone-input {
  min-width: 140px;
}


.flag-box {
  display: flex;
  align-items: center;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  padding: 6px 10px;
  background: #f8f9fa;
}

.flag-icon {
  width: 20px;
  height: 14px;
  object-fit: cover;
  border-radius: 2px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

.icon.whatsapp {
  color: #25d366;
  margin-left: 10px;
}

.icon.email {
  color: #007bff;
}


.captcha-box {
  background-color: #f8f9fa;
  font-weight: bold;
  border: 1px solid #ccc;
}




.btn-success {
  background-color: #1a9c3c;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-success:hover {
  background-color: #158a33;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}


.form-check-input {
  cursor: pointer;
  border: 1px solid #999;
}


@media (max-width: 768px) {
  .contact-box {
    flex-direction: column;
  }

  .form-container {
    border-left: none;
    border-top: 3px solid #f2f2f2;
    padding: 25px;
  }

  .quickcontact-section h2 {
    font-size: 1.5rem;
  }

  .quickcontact-section p {
    font-size: 0.9rem;
    margin: 0 10px;
  }

  .d-flex.gap-2 {
    gap: 8px !important;
  }

  .phone-input {
    flex: 1 1 100%;
  }

  .icon {
    font-size: 18px;
  }
}
