  .candit-wrapper {
    width: 100%;
    padding: 20px 30px;
    background: #f4f4f4;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    margin-top: 0.8cm;
  }
  /* default */
  .shortlist-count,
  .reject-count,
  .pending-count {
    background: #fff;
    transition: 0.3s;
  }

  /* active style */
  .shortlist-count.active,
  .reject-count.active,
  .pending-count.active {
    background-color: #07167B;
    color: white ;
  }

  /* make text inside also white */
  /* .shortlist-count.active p .mb-0,
  .reject-count.active p,
  .pending-count.active p {
    color: white !important;
  } */



  .candit-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #b91c1c;
    margin-bottom: 25px;
  }

  .candit-filter-row {
    display: flex;
    gap: 30px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
    margin-bottom: 15px;
    flex-wrap: wrap;
  }

  .candit-reject-btn{
      background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
  

  }

  .candit-email-btn{
      background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
  
  }

  .candit-forward-btn{
      background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
  
  }

  .candit-download-btn{
      background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
  
  }

  .icon-candit{
      margin-bottom: 2px;
  }

  .candit-delete-btn{
      background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
    
  }

  .candit-shortlist-btn{
      background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
  
  }

  .candit-filter-input {
    width: 220px;
    height: 42px;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    padding: 0 12px;
    font-size: 14px;
    background: #ffffff;
    box-shadow: inset 0px 1px 4px rgba(0,0,0,0.08);
    display: flex;
    direction: row;
    justify-content: end;
  }


  .jas-tag.green {
      background: #e6fbe7;
      color: #16a34a;
  }

  .candit-apply-btn {
    background: #0023ff;
    color: white;
    border: none;
    width: 120px;
    height: 42px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
  }

  .candit-dlt-btn {
    background: #dc2626 ;
    color: white;
    border: none;
    width: 120px;
    height: 42px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
  }

  .candit-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
  }

  .candit-table thead {
    background: #002147;
    color: white;
    text-align: center;
  }

  .candit-table th {
    padding: 14px;
    font-size: 15px;
    font-weight: 600;
  }

  .candit-table td {
    padding: 14px;
    text-align: center;
    font-size: 14px;
    /* color: #333; */
    border-bottom: 1px solid #ececec;
  }

  .candit-tag {
    padding: 5px 12px;
    font-weight: 700;
    border-radius: 6px;
    display: inline-block;
  }

  .previousjob-green { background: #e6fbe7; color: #16a34a; }
  .previousjob-orange { background: #fff1e5; color: #f97316; }
  .previousjob-red { background: #ffe5e5; color: #dc2626; }

  .candit-view-btn {
    background: #0048ff;
    padding: 6px 12px;
    color: white;
    border-radius: 6px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
  }

  .candit-list-view{
      display: flex;
      /* margin: 10px; */
      justify-content:space-between;
  }

  .candit-filter-group{
    display: flex;
    gap: 30px;
  }

  .candit-filter{
    margin-top: 0.4cm;
  }

  .shortlist-count{
      margin: 10px;
      width: 100px;
      height: 60px;
      text-align: center;
      border-radius: 10px;
      padding-top: 10px;
      box-shadow:  0px 2px 3px black;
  }




  .shortlist-count:hover,
  .shortlist-count.active {     
    background-color: #07167B;
    color: white !important;
    cursor: pointer;
  }

  /* .shortlist-count.active p {
    color: white !important;    
  } */

  .reject-count{
      /* border: 1px solid black;  */
      margin: 10px;
      width: 100px;
      height: 60px;
      text-align: center;
      padding-top: 8px;
      border-radius: 10px;
      box-shadow:  0px 2px 3px black;
  }

  .reject-count:hover{
    background-color: #07167B;
    color: white;
    cursor: pointer;
  }

  .pending-count{
      /* border: 1px solid black; */
      margin: 10px;
      width: 100px;
      height: 60px;
      text-align: center;
      border-radius: 10px;
      padding-top: 10px;
      box-shadow:  0px 2px 3px black;
  }

  .pending-count:hover{
    background-color: #07167B;
    color: white;
    cursor: pointer;
  }
