

.admin-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003366;
  color: #fff;
  padding: 12px 18px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.admin-sidebar {
  width: 270px;
  background: #ffffff;
  border-right: 1px solid #e4e4e4;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
  font-family: "Poppins", sans-serif;
}

/* ---------------------------
   iPad Mini (portrait & small)
   Width approx: 768px — 819px
   --------------------------- */
@media only screen
  and (min-width: 769px)
  and (max-width: 819px) {

  .admin-sidebar {
                         
    height: calc(100vh - 56px);         
    top: 56px;
    position: fixed;
    overflow-y: auto;
    /* padding: 12px 10px; */
    font-size: 14px;                    
  }

  .admin-main-content {
  /* margin-top: 60px; */
  margin-left: 270px; 
  padding: 20px;
  background: #ffff;
  min-height: calc(100vh -30px);
  transition: margin-left 0.3s ease;
}
 .admin-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    color: #fff;
    padding: 12px 18px;
    position: sticky;
    top: 0;
    z-index: 10;}


}

/* ---------------------------
   iPad Air (medium)
   Width approx: 820px — 1023px
   --------------------------- */
@media only screen
  and (min-width: 820px)
  and (max-width: 1025px) {

  .admin-sidebar {
    width: auto;                       
    height: calc(100vh - 58px);
    top: 58px;
    /* padding: 14px 12px; */
    overflow-y: auto;
    font-size: 15px;
  }

.admin-main-content {
  /* margin-top: 60px; */
  margin-left: 270px; 
  padding: 20px;
  background: #ffff;
  min-height: calc(100vh -30px);
  transition: margin-left 0.3s ease;
}
 .admin-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    color: #fff;
    padding: 12px 18px;
    position: sticky;
    top: 0;
    z-index: 10;}



}





.admin-sidebar.collapsed {
  width: 75px;
}
.submenu-link {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.submenu-link.active-submenu:hover {
  background:  #98bcf3 !important;  
  color: #333 !important;
} 

.active-submenu {
  background:  #98bcf3;;       
  color: #fff !important;
  font-weight: 0px;
  
}


/*  

.admin-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003366;
  color: #fff;
  padding: 12px 18px;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* NORMAL SIDEBAR ITEM */
.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* HOVER (only when NOT active) */
.sidebar-link:hover {
  background: #0a3a4a;
}


/* .sidebar-active {
  background: #6e8ebe;
  color: #fff !important;
  font-weight: 600;
  
}


.sidebar-active:hover {
  background: #86ade7 !important;
  color: #fff !important;
} */

.admin-sidebar-logo {
  font-size: 1.1rem;
  font-weight: 600;
}

.admin-toggle-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.admin-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.admin-sidebar-menu li {
  border-bottom: 1px solid #f0f0f0;
}

.admin-menu-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #001b47 !important;
  padding: 12px 18px;
  text-decoration: none !important;
  font-size: large !important;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}



/* Normal sidebar item */
.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  color: white;
  text-decoration: none;
  border-radius: 0px;
}


.sidebar-link:hover {
  background: #0a3a4a;
}


.sidebar-link.active {
  background: #98bcf3;        
  color: #fff !important;       
  font-weight: 200px;
}


.sidebar-link.active:hover {
  background:  #98bcf3 !important;
  color: #fff !important;
}




.admin-submenu-item1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold !important;
  color: #003366;
  cursor: pointer;
  padding: 6px 0;

}

.admin-menu-item1{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  color: #001b47 !important;
  padding: 12px 18px;
  text-decoration: none !important;
  font-size: 1rem !important;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}

.line-bottom{
  border-bottom: 1px solid #f0f0f0;
}

.adminnav-title-link{
  text-decoration: none;
}

.submenu-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #001b47 !important;
  padding: 12px 18px;
  text-decoration: none !important;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}


.admin-menu-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;       
  width: 100%;     
  color: #001b47 !important;
  padding: 5px 18px;
  text-decoration: none !important;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}


.admin-menu-item:hover,
.admin-sidebar-menu li a:hover {
  background: #eaf1ff;
  color: #003366 !important;
}

.admin-icon {
  margin-right: 12px;
  color: #003366;
  min-width: 22px;
}

.admin-ico {
  margin-right: 12px;
  color: #003366;
  min-width: 22px;
  font-size: 1.2rem;
  font-weight: 600;
  
}


.admin-submenu {
  list-style: none;
  padding-left: 40px;
  background: #f9fafc;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease;
}

.admin-submenu.open {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
}

.admin-submenu li {
  padding: 8px 0;
  font-size: 0.9rem;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
}


.admin-submenu li:hover {
  color: #006635 !important;
  font-weight: 500;
}


.admin-submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-weight: bold !important; */
  color: #003366;
  cursor: pointer;
  padding: 6px 0;
}

.admin-nested-submenu {
  list-style: none;
  padding-left: 25px;
  margin-top: 4px;
  background: #f4f6f8;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.35s ease;
}

.admin-nested-submenu.open {
  max-height: 500px;
  opacity: 1;
  overflow-y: auto;
}

.admin-nested-submenu li {
  font-size: 0.85rem;
  font-weight: bold;
  color: #15c727;
  padding: 4px 0;
  transition: all 0.3s ease;
}

.admin-nested-submenu li:hover {
  color: #003366;
  font-weight: 500;
}


.admin-sidebar.collapsed .admin-sidebar-logo,
.admin-sidebar.collapsed span {
  display: none;
}

.admin-sidebar.collapsed .admin-icon {
  margin: 0 auto;
}


.admin-sidebar::-webkit-scrollbar {
  width: 6px;
}
.admin-sidebar::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  border-radius: 6px;
}


@media (max-width: 992px) {
  .admin-sidebar {
    position: fixed;
    
    height: calc(100vh - 60px);
  }
  .admin-sidebar.active {
    left: 0;
  }
  .admin-toggle-btn {
    position: absolute;
    right: -45px;
    background: #003366;
    color: #fff;
    padding: 8px 10px;
    border-radius: 0 4px 4px 0;
}
}